<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
        <aside id="details-aside" class="col-sm-4">
            <a id="btn-buy" href="receipt.html" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Get it!</a>
            <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">Info</li>
              <li class="list-group-item">What You Get</li>
              <li class="list-group-item">This Is Included</li>
            </ul>
        </aside>
    </section>
</div>
<footer id="site-footer">
Made by <a href="#" target="_blank"><p>NatureLove</p></a>
</footer>